*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    margin-inline: auto;
}

table{
    background: white;
    padding: 1rem;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
    
    
}

td, th{
    border: 1px solid #ddd;
    
    text-align: center;
    padding: 1rem;
   
}

th{
    background: lightblue;
}

.wrapper{
    width: 100%;
    background-color: red;
    height: auto;
    margin-top: 10vh;
}

tr:nth-of-type(2n){
    background: rgb(0, 191, 255);
}
tr:nth-of-type(2n+1) {
   
    background: rgb(81, 212, 255);
}

.pre{
    width: 50%;
    height: 10vh;
}


@media(max-width: 600px){
    th{
        display: none;
    }
    td{
        display: block;
    }
    td::before{
        content: attr(data-cell) ": ";
        text-transform: capitalize;
    }
    table{
        width: 75%;
    }
}
